node_modules
.env
coverage
coverage-ts
coverage.json
.nyc_output
dist
testMatrix.json
mochaOutput.json

#Hardhat files
cache
artifacts
build-info

.idea
.deps

slither_output.file
output.txt

packages/**/constants/contract-error-messages.ts
packages/**/typechain/
!packages/**/wrappers-prev/typechain
*.interp
*.tokens
.antlr
*.java
